body{
	background: #efefef;
}

.login-mt{
	margin-top: 100px;
}

.text-default{
    color: #da843b;
}

.text-default a{
	color: #da843b;
}

.text-default a:hover{
	color: #fff;
}

.card-header.personal{
	background: #545b62;
}

.destaque1{
	background: #6b9dbb;
}

.destaque2{
	background: #C0C0C0;
}

.breadcrumb {
	background: #343a40;
	color: #fff;
}

.sidebar {
	background: #343a40;
}

footer.sticky-footer{
	background: #343a40;
	color: #fff;
}

#icone{
	color: #28a745;
    opacity: 0.2;
    font-size: 48px;
}

.icone-6x{
	color: #6c757d ;
	opacity: 0.2;;
}

.cardFormation{
	border: 0;
}

.breadcrumb-item a{
	color: #da843b;
}

.dropdown-header{
	color: #da843b;
}

.color-icon{
	color: #6c757d;
}
